{% extends 'base.html' %}

{% block main_content %}
    {% if object %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-active">
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Base currency type</td>
                    <td>{{ object.get_base_currency_type_display }}</td>
                </tr>
                <tr>
                    <td>Currency type</td>
                    <td>{{ object.get_currency_type_display }}</td>
                </tr>
                <tr>
                    <td>Sale</td>
                    <td>{{ object.sale }}</td>
                </tr>
                <tr>
                    <td>Buy</td>
                    <td>{{ object.buy }}</td>
                </tr>
                <tr>
                    <td>Source</td>
                    <td>{{ object.source.name }}</td>
                </tr>
                <tr>
                    <td>Created</td>
                    <td>{{ object.created|date:'Y-m-d H:i' }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            {% if request.user.is_superuser %}
                <a class="btn btn-success" href="{% url 'currency:rate_update' pk=object.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'currency:rate_delete' pk=object.id %}">Delete</a>
            {% endif %}
        </div>
    {% else %}
        <p>Объект не найден!</p>p>
    {% endif %}
{% endblock main_content %}