{% extends 'base.html' %}

{% block main_content %}
    <a class="custom_button" href="{% url 'rate_create' %}">Create Rate</a>
    {% if rate_list %}
        <table>
        <caption>
            <strong>Список курсов валют (всего: {{ rate_list.count }} записей)</strong>
        </caption>
          <tr>
              <th>Id</th>
              <th>base_currency_type</th>
              <th>currency_type</th>
              <th>sale</th>
              <th>buy</th>
              <th>source</th>
              <th>created</th>
              <th colspan="3">Links</th>
          </tr>
          {% for rate in rate_list %}
          <tr>
              <td style="text-align: center;">{{ rate.id }}</td>
              <td style="text-align: center;">{{ rate.base_currency_type }}</td>
              <td style="text-align: center;">{{ rate.currency_type }}</td>
              <td style="text-align: right;">{{ rate.sale }}</td>
              <td style="text-align: right;">{{ rate.buy }}</td>
              <td style="text-align: center;">{{ rate.source }}</td>
              <td style="text-align: center;">{{ rate.created|date:'Y-m-d H:i' }}</td>
              <td style="text-align: center;">
                  <a href="{% url 'rate_details' pk=rate.id %}">Details</a>
              </td>
              <td style="text-align: center;">
                  <a href="{% url 'rate_update' pk=rate.id %}">Edit</a>
              </td>
              <td style="text-align: center;">
                  <a href="{% url 'rate_delete' pk=rate.id %}">Delete</a>
              </td>
          </tr>
          {% endfor %}
        </table>

    {% else %}
        <p>rate_list пуст, нет записей для вывода!</p>

    {% endif %}
{% endblock main_content %}