{% extends 'base.html' %}

{% block main_content %}
    {% if object %}
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-active">
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Source logo</td>
                    <td>
                        <img src="{{ object.logo.url }}" height="100">
                    </td>
                </tr>
                <tr>
                    <td>Source url</td>
                    <td>
                        <a href="{{ source.source_url }}" target="_blank">{{ source.source_url }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</td>
                </tr>
            </tbody>
        </table>
        <div>
            {% if request.user.is_superuser %}
                <a class="btn btn-success" href="{% url 'currency:source_update' pk=object.id %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'currency:source_delete' pk=object.id %}">Delete</a>
            {% endif %}
        </div>
    {% else %}
        <p>Объект не найден!</p>p>
    {% endif %}
{% endblock main_content %}