{% extends 'currency/base.html' %}
{% load crispy_forms_filters %}

{% block main_content %}

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <div class="container" style="border-style: inherit;">
                <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#filters-area">
                    Filters <span class="badge badge-primary">{{ filter_params_count }}</span>
                </button>
                <div id="filters-area" class="collapse">
                    {# filters form #}
                    <form method="get">
                        {{ filter.form|crispy }}
                        <div class="button-group">
                            <button type="submit" class="btn btn-outline-success">Apply</button>
                            <a class="btn btn-outline-warning" href="{% url 'currency:rate_list' %}">
                                Reset
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <div class="container" style="border-style: inherit;">
                {# sort by select #}
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                    Order by: <span class="badge badge-primary">{{ order_by_show }}</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="?page={{ page_obj.number }}&page_size={{ page_size }}&{{ filter_params }}&sort_by=created">Created (ASC)</a>
                    <a class="dropdown-item" href="?page={{ page_obj.number }}&page_size={{ page_size }}&{{ filter_params }}&sort_by=-created">Created (DESC)</a>
                    <a class="dropdown-item" href="?page={{ page_obj.number }}&page_size={{ page_size }}&{{ filter_params }}&sort_by=sale">Sale (ASC)</a>
                    <a class="dropdown-item" href="?page={{ page_obj.number }}&page_size={{ page_size }}&{{ filter_params }}&sort_by=-sale">Sale (DESC)</a>
                    <a class="dropdown-item" href="?page={{ page_obj.number }}&page_size={{ page_size }}&{{ filter_params }}&sort_by=buy">Buy (ASC)</a>
                    <a class="dropdown-item" href="?page={{ page_obj.number }}&page_size={{ page_size }}&{{ filter_params }}&sort_by=-buy">Buy (DESC)</a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            {% if request.user.is_superuser %}
            <a class="nav-link btn btn-outline-primary btn-sm" href="{% url 'currency:rate_create' %}">
                Create Rate
            </a>
            {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary btn-sm" href="{% url 'currency:rate_download' %}">
                Download To CSV
            </a>
        </li>
    </ul>

    {% if rate_list %}
        <strong style="color: #007bff;">
            {% if filter_params_count > 0 %}
                Filtered: {{ filtered }} | Total: {{ total }}
            {% else %}
                No filter | Total: {{ total }} items
            {% endif %}
        </strong>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Base Type</th>
                    <th>Type</th>
                    <th>Sale</th>
                    <th>Buy</th>
                    <th>Source</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for rate in rate_list %}
                <tr>
                    <td>{{ rate.id }}</td>
                    <td>{{ rate.get_base_currency_type_display }}</td>
                    <td>{{ rate.get_currency_type_display }}</td>
                    <td>{{ rate.sale }}</td>
                    <td>{{ rate.buy }}</td>
                    <td>{{ rate.source.name }}</td>
                    <td>{{ rate.created|date:'Y-m-d H:i' }}</td>
                    <td>
                        <a href="{% url 'currency:rate_details' pk=rate.id %}">Details</a>
                        {% if request.user.is_superuser %}
                            <a href="{% url 'currency:rate_update' pk=rate.id %}">Edit</a>
                            <a href="{% url 'currency:rate_delete' pk=rate.id %}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {#Pagination#}
        {% include 'parts/pagination.html' %}


    {% else %}
        <p>Rate list is empty!</p>

    {% endif %}
{% endblock main_content %}